<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AndroidTest.AndroidTest" android:versionCode="1" android:versionName="0.1.0.0.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="28" />
	<application android:label="AndroidTest"></application>
</manifest>